<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script></script>
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <div>
            <!--Aqui va el logo-->
        </div>
        <div>
            <h1>
            </h1>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="https://www.ezviz.com/la/category/security-wifi-cameras">Camaras wifi</a>
            </li>
        </ul>
        <li>
            <a href="https://www.google.com/maps/place/Bilbao,+Suba,+Bogot%C3%A1/@4.7543298,-74.1282787,15z/data=!3m1!4b1!4m6!3m5!1s0x8e3f847bd850f595:0xf8346cd4a9e20a39!8m2!3d4.7531592!4d-74.1159211!16s%2Fg%2F1wn34qdb?entry=ttu&g_ep=EgoyMDI1MDYxNi4wIKXMDSoASAFQAw%3D%3D">Bilbao</a>
        </li>
    </nav>
    <main>
        <div>
        <!--aqui imagen-->
        <img src=",,,," alt=""srcset>   
    </div>
    <p class="textlarge">Camaras de seguridad Bilbao</p>
    <p class="textmedium"></p>
    <p class="description">Debido a la inseguridad en el Barrio Suba Bilbao, el uso de cámaras de seguridad resulta una muy buena estrategia,
        además que es un sistema más accesible, y Bilbao no cuenta con buenas camáras de seguridad.
    </p>
    </main>
    <footer>
        <!--aqui datos de contacto-->
    </footer>
</body>
</html>